* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  background-color: white;
  flex-direction: column;
}

.nav-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  font-weight: normal;
  margin-right: 30px;
  font-size: 50px;
}

.middle-nav {
  gap: 30px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  font-size: 80%;
  cursor: pointer;
}

.middle-nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 5px 0;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -6%;
}

.links {
  font-size: 12px;
  margin-bottom: 1%;
}

.links a {
  color: black;
  text-decoration: none;
  margin: 0 4px;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2%;
  gap: 10px;
  margin-right: 5%;
}

.search-bar input[type="text"] {
  padding: 8px 70px 8px 32px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

.icon a {
  font-size: 18px;
  cursor: pointer;
  color: black;
}

.search-bar p {
  left: 10px;
  position: absolute;
  font-size: 14px;
  color: #555;
}

.event {
    width: 100%;
}

.collection {
    width: 99.5%;
    margin-top: -5px;
}

.dots {
  margin-top: 40px;
  text-align: center;
}

.dots .dot1 {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  display: inline-block;
  background-color: #BBBBBB;
  border-radius: 50%;
  cursor: pointer;
  border: #BBBBBB;
}

.dots .dot2 {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  display: inline-block;
  background-color: #717171;
  border-radius: 50%;
  cursor: pointer;
  border: #717171;
}

.dot1:hover {
    background-color: #717171;
    cursor: pointer;
    transition-duration: 0.4s;
}

.dot2:hover {
    background-color: #BBBBBB;
    cursor: pointer;
    transition-duration: 0.4s;
}

.heels {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3%;
  margin-left: 12%;
  gap: 17%;
}

.heeltext {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12%;
  gap: 155px;
}

.newcrew {
  width: 90%;
  margin-left: 80px;
  margin-top: 5%;
}

.threeshoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 123px;
  gap: 5%;
  margin-top: 3%;
}

.moreheels {
  width: 27%;
}

.twoboots {
  width: 27%;
}

.twogreyboots {
  width: 27%;
}

.text-under-photos {
  display: flex;
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
  margin-left: 7%;
  margin-top: 4%;
}

.textrow {
  flex: 1;
  padding: 0 20px;
  text-align: left;
}

.textrow h2 {
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.textrow p {
  line-height: 2.5;
  margin-bottom: 5px;
}

.shop-link {
  display: inline-block;
  text-decoration: underline;
  color: black;
  margin-top: 7px;
}

.shop-link:hover {
  color: #555;
}